{{#each art}}
<div class="card m-4">
  <div class="card-header">
    <a href="{{this.link}}"> {{this.title}} </a>
    <button class="save">Save</button> 
  </div>
  <div class="card-body">
    {{this.summary}}
  </div>
</div>

{{/each}}