
{{#each art}}
<div class="card m-4 ">
  <div class="card-header bg-secondary  ">
    <a class="text-white"  href="{{this.link}}"> {{this.title}} </a>
    <button value = {{this._id}} class="save btn btn-info">Save</button> 
  </div>
  <div class="card-body">
    {{this.summary}}
  </div>
</div>

{{/each}}